<div class="container">
    <div class="columns">
      <div class="one-half column centered">
          <form>
              <dl class="form-group">
                <dt><label>Email</label></dt>
                <dd><input class="form-control" type="email" placeholder="Enter your email"></dd>
              </dl>
              <dl class="form-group">
                <dt><label>Password</label></dt>
                <dd><input class="form-control" type="password" placeholder="Enter your password"></dd>
              </dl>
              <dl class="form-group">
                <dd><button class="btn btn-primary" type="button">Login</button></dd>
              </dl>
          </form>
      </div>
    </div>
</div>
